[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
fsrs = "*"
regex = "*"
wordfreq = "*"
jieba = "*"
pyinstaller = "*"
bottle = "*"
gtts = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
