[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "~=6.1"
fsrs = "~=3.1.0"
regex = "*"
wordfreq = "*"
jieba = "*"
pyinstaller = "*"
bottle = "*"
gtts = "*"
requests = "*"
openai = "*"
python-dotenv = "*"
json-repair = "*"

[dev-packages]

[requires]
python_version = "3.12"
