body {
  display: grid;
}

nav {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.right {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
}

.maybe {
  color: goldenrod;
  font-style: italic;
}
