@import "/theme.css";

body {
  display: grid;
}

nav {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.right {
  color: var(--log-right-color);
  font-weight: bold;
}

.wrong {
  color: var(--log-wrong-color);
}

.maybe {
  color: var(--log-maybe-color);
  font-style: italic;
}
