body,
#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Hide the scrollbar for Chrome, Safari and Opera */
:not(textarea)::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
:not(textarea) {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

#quiz > * {
  margin-bottom: 10px;
}

details,
p,
.nav,
.count,
[contenteditable] {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 95%;
}

a.internal-link {
  text-decoration: none;
}

a.internal-link:visited {
  color: inherit;
}

.nav > .left {
  text-align: left;
  width: 33%;
}

.nav > .center {
  text-align: center;
  justify-content: center;
  width: 34%;
}

.nav > .right {
  text-align: right;
  width: 33%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  box-sizing: border-box;
}

.top-nav#progress [data-count-type] {
  height: 2px;
}

.top-nav#progress [data-count-type="right"] {
  background-color: forestgreen;
}

.top-nav#progress [data-count-type="repeat"] {
  background-color: orange;
}

.top-nav#progress [data-count-type="wrong"] {
  background-color: red;
}

.count[data-count-type="total"][data-repeat="true"] {
  text-decoration: underline;
  color: red;
}

.count small {
  font-size: 0.7em;
}

#vocab {
  font-size: 80px;
  cursor: default;
}

#type-input {
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  padding: 2px 1.5em;
  min-width: calc(200px - 3em);
}

#type-input:not([data-checked=""]) {
  caret-color: transparent;
  background-color: yellow;
}

#type-input[data-checked="right"] {
  background-color: greenyellow;
}

#type-input[data-checked="wrong"] {
  background-color: lightcoral;
}

.if-checked[data-checked=""] {
  display: none;
}

.if-right,
.if-wrong {
  display: none;
}

.if-right[data-checked="right"] {
  display: inline-block;
}

.if-wrong[data-checked="wrong"] {
  display: inline-block;
}

.if-wrong\:not-repeat[data-repeat="true"][data-checked="wrong"] {
  display: none;
}

.buttons > button:not(:first) {
  margin-left: 1em;
}

details {
  width: 80vw;
  text-align: left;
}

summary {
  cursor: pointer;
}

.external-links {
  text-align: center;
}

.dictionary-entry header :not(:first-child) {
  margin-left: 1em;
}

.english {
  font-size: 10px;
}

#sentences .english:not(:hover) {
  color: lightgray;
}

#sentences[data-sentence-count="0"] {
  display: none;
}

#notes fieldset {
  display: none;
  height: 150px;
  width: 100%;
  margin-top: 5px;
  grid-template-rows: 1fr auto;
}

#notes[data-has-notes=""] fieldset {
  border: none;
}

#notes[data-has-notes=""] fieldset#notes-edit {
  display: grid;
}

#notes:not([data-has-notes=""]) fieldset#notes-show {
  display: grid;
}

#notes fieldset .notes-display {
  flex-grow: 1;
  min-width: none;
}

#notes fieldset footer {
  margin-top: 5px;
  display: flex;
  flex-direction: row-reverse;
}
