* {
  font-family: sans-serif;
}

html,
body,
fieldset {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

fieldset {
  display: none;
  border: none;
  grid-template-rows: 1fr auto;
}

fieldset.active {
  display: grid;
}

fieldset footer {
  margin-top: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.pinyin {
  font-size: 0.7em;
  display: inline-block;
  color: gray;
  margin-left: 1em;
  user-select: none;
  cursor: default;
}

.pinyin::before {
  content: "\09";
}

li::marker {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
