* {
  font-family: sans-serif;
}

body {
  margin: 25px;
}

.top-nav {
  text-align: center;
  margin-bottom: 1em;
}

#due-count small {
  font-size: 0.7em;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav > .nav-content {
  display: block;
}

.nav > .nav-content + .nav-content::before {
  content: "・";
}

.count-dashboard {
  text-align: center;
  margin-bottom: 1em;
}

#hanzi-list {
  display: flex;
  flex-wrap: wrap;
}

.hanzi {
  display: inline-flex;
  cursor: default;
  z-index: 0;
}

.hanzi:hover,
.hanzi.hover {
  font-size: 2em;
  padding: 0 3px;
  margin: 0 -0.7rem;
  box-shadow: inset 0px 0px 0.5em 0.5em rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.tier-0 {
  color: black;
}

.tier-1 {
  color: peru;
}

.tier-2 {
  color: skyblue;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: rgba(211, 211, 211, 0.5);
}

.button a {
  text-decoration: none;
}

ul.ctxmenu {
  overflow: visible;
}
